NODE_ENV=production
KAFKA_BROKERS=kafka:9092
WIKIPEDIA_SSE_URL=https://stream.wikimedia.org/v2/stream/recentchange
LOG_EVERY_N_EVENTS=10
KAFKA_TOPIC=wikipedia-stream
OUTPUT_PATH=/app/data/csv
CHECKPOINT_PATH=/app/data/checkpoint
